<div class="currentTransactionDiv">

  <section layout="row" layout-sm="column" layout-align="center center" layout-wrap>
      <md-button class="{{button}}" ng-model="button" ng-click="changeClass()">Exporter</md-button>
      <i class="fa fa-angle-double-right" style="font-size:48px;"></i>
      <md-button class="button">Custom</md-button>
      <i class="fa fa-angle-double-right" style="font-size:48px;"></i>
       <md-button class="activeAccount " > Insurance</md-button>
       <i class="fa fa-angle-double-right" style="font-size:48px;"></i>
        <md-button class="button" >Importer</md-button>
        <i class="fa fa-angle-double-right" style="font-size:48px;"></i>
         <md-button class="button" >ImporterBank</md-button>
         <i class="fa fa-angle-double-right" style="font-size:48px;"></i>
          <md-button class="button" >Completed</md-button>
  </section>


</div>
