<div layout="row" layout-align="center">

    <md-card style="width:40%">

        <md-card-content>
          <form action="" name="forgotPasswordForm">
            <md-input-container style="width:100%">
                <label>Email Id</label>
                <input type="email" name="userEmail" ng-model="emailForForgotPassword" ng-pattern="/^[^\s@_]+[^\s]+@[^\s@]+\.[^\s@]{2,}$/" required>

                <!-- <span style="color:Red" ng-show="userForm.userEmail.$dirty&&userForm.userEmail.$error.pattern">Please Enter Valid Email</span> -->
                <div ng-messages="forgotPasswordForm.userEmail.$error">
                    <div ng-message="required">
                        You email is required.
                    </div>
                    <div ng-message="pattern">
                      Please Enter Valid Email.
                    </div>
                </div>
            </md-input-container>

            <md-card-actions layout="row" layout-align="center">
                <md-button ng-click="forgotPassword()" ng-disabled="forgotPasswordForm.$invalid" class="md-raised md-primary">submit</md-button>
            </md-card-actions>
          </form>

        </md-card-content>
    </md-card>
</div>
