<div layout="row" layout-align="center">

    <md-card style="width:40%">

        <md-card-content>
          <form name="resetPasswordForm">
          <p style="color:red" ng-show =resetFormPasswordMsg> your password is not matching </p>
            <md-input-container class="inputContainers">
                <label>Password</label>
                <input type="password" name="password" ng-minlength="5"  ng-model="resetFormPassword" required>
                <div ng-messages="resetPasswordForm.password.$error">
                    <div ng-message="required">
                        Your password is required.
                    </div>
                    <div ng-message="minlength">
                        Your password must be atleast 5 characters
                    </div>

                </div>
            </md-input-container>
          <p style="color:red" ng-show = confirmPassword> your password is not matching </p>

            <md-input-container class="inputContainers">
                <label>Retype-Password</label>
                <input type="password" name="retypePassword" ng-model="resetFormConfirmPassword" ng-minlength="5" required>
                <div ng-messages="resetPasswordForm.retypePassword.$error">
                    <div ng-message="required">
                        You password is required.
                    </div>
                    <div ng-message="minlength">
                        Your password must be atleast 5 characters
                    </div>
                </div>
            </md-input-container>

            <md-card-actions layout="row" layout-align="center">
                <md-button ng-click="submitResetPassword()" ng-disabled="resetPasswordForm.$invalid" class="md-raised md-primary">submit</md-button>
            </md-card-actions>
          </form>

        </md-card-content>
    </md-card>
</div>
