
<div class=userPageDiv>
  <md-card class = userPageCard>
  <div class="center">
    <h2> welcome in {{userModel.role}} Organization, {{userModel.name}} </h2>
  </div>

  <section layout="row" layout-sm="column" layout-align="center center" layout-wrap>
      <md-button class="md-raised md-warn">Account Info</md-button>
      <md-button class="md-raised md-warn">Create Contract</md-button>
       <md-button class="md-raised md-warn">Balance info</md-button>
        <md-button class="md-raised md-warn">All contracts</md-button>
 </section>

</md-card>
</div>
