

table {
    border-collapse: collapse;
    width: 95%;
    margin-left:  auto;
    margin-right:  auto;
}

th, td {
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

.userPageDiv{
  margin-top: 90px;
  margin-bottom: 100px;
}

.userPageCard{
margin:auto;
margin-top: 100px;
height:800px;
width:1200px;
}

.center{
  margin-top: 20px;
  text-align: center;
}
